---
import { Tabs, TabItem, Code } from "@astrojs/starlight/components";
import {
  LATEST_ADVENTURE_API_RELEASE,
  LATEST_ADVENTURE_PLATFORM_RELEASE,
  LATEST_ADVENTURE_ANSI_RELEASE,
} from "/src/utils/versions";

interface Props {
  artifact: string;
  project: string;
}

const props: Props = Astro.props;

function getVersion(): string {
  switch (props.project) {
    case "api":
      return LATEST_ADVENTURE_API_RELEASE;
    case "platform":
      return LATEST_ADVENTURE_PLATFORM_RELEASE;
    case "ansi":
      return LATEST_ADVENTURE_ANSI_RELEASE;
  }

  return "LATEST";
}

const version = getVersion();
const mavenCoordinatesString = `net.kyori:${props.artifact}:${version}`;

const mavenDependency = `
<dependency>
   <groupId>net.kyori</groupId>
   <artifactId>${props.artifact}</artifactId>
   <version>${version}</version>
</dependency>
`;

const gradleGroovyDependency = `
repositories {
    mavenCentral()
}

dependencies {
    implementation "${mavenCoordinatesString}"
}
`;

const gradleKotlinDependency = `
repositories {
    mavenCentral()
}

dependencies {
    implementation("${mavenCoordinatesString}")
}
`;
---

<p>Declaring the dependency:</p>

<Tabs syncKey="build-system">
  <TabItem label="Maven">
    <Code lang="xml" code={mavenDependency} />
  </TabItem>
  <TabItem label="Gradle (Groovy)">
    <Code lang="groovy" code={gradleGroovyDependency} />
  </TabItem>
  <TabItem label="Gradle (Kotlin)">
    <Code lang="kotlin" code={gradleKotlinDependency} />
  </TabItem>
</Tabs>

<p>
  Need development/snapshot builds? <a href="./snapshot-reference">Using Snapshot Builds</a>
</p>
