---
import { REPO, getCommitInfo } from "../../utils/git";
import { Image } from "astro:assets";

const { lang, lastUpdated } = Astro.locals.starlightRoute;
const filePath = Astro.locals.starlightRoute.entry.filePath;

const info = await getCommitInfo(filePath);
---

{
  lastUpdated && (
    <p>
      <span class="nowrap">
        Last updated:
        <time datetime={lastUpdated.toISOString()}>
          {lastUpdated.toLocaleDateString(lang, {
            dateStyle: "medium",
            timeZone: "UTC",
          })}
        </time>
      </span>{" "}
      {info && (
        <span class="nowrap">
          by{" "}
          <a href={info.committer.href}>
            {info.committer.avatar && (
              <Image
                src={info.committer.avatar}
                alt={info.committer.name}
                width="18"
                height="18"
                loading="lazy"
                style="vertical-align: middle; border-radius: 50%; margin-left: 1px; margin-right: 4px;"
              />
            )}
            {info.committer.name}
          </a>{" "}
          in <a href={`https://github.com/${REPO}/commit/${info.hash}`}>{info.hash.substring(0, 7)}</a>
        </span>
      )}
    </p>
  )
}

<style>
  a,
  a:visited {
    color: var(--sl-color-accent-high);
  }

  .nowrap {
    white-space: nowrap;
  }
</style>
